.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    @include title;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--primary-border-color);

    @include tabletMobile {
      border-bottom: none;
    }
  }

  .content {
    display: flex;
    padding: 20px 0 30px;
    border-bottom: 1px solid var(--primary-border-color);

    @include tabletMobile {
      flex-direction: column-reverse;
      border-bottom: none;
      padding: 0;
    }

    .block {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .desc {
        @include desc;
        max-width: 400px;
        color: var(--secondary-text-color);

        @include tabletMobile {
          max-width: 600px;
          width: 100%;
          margin-top: 20px;
        }
      }

      .mainBtn {
        width: 480px;
        height: 56px;
      }
    }
  }
}
