.container {
  @include container;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;

  @include tabletMobile {
    margin-bottom: 80px;
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    max-width: 676px;
    margin-right: 133px;

    .title {
      @include title;
    }

    .contentBlock {
      display: flex;
      padding: 30px 20px 30px 0;
      border-bottom: 1px solid #ABABAB;

      .number {
        padding: 8px 10px;
        background-color: var(--number-bg-color);
        color: var(--number-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        width: 60px;
        min-width: 60px;
        height: 34px;
        margin-right: 20px;
        border-radius: 10px;

      }

      .first {
        --number-text-color: #333;
        --number-bg-color: #C0ECF7;
      }

      .second {
        --number-text-color: #333;
        --number-bg-color: #D59AFF;
      }

      .third {
        --number-text-color: #fff;
        --number-bg-color: #298BFF;
      }

      .desc {
        width: 100%;
        max-width: 560px;
        @include desc;
        color: #616161;

        .textHighlighted {
          text-decoration: underline;
          color: var(--highlighted-text-color);
        }
      }
    }

    .box {
      margin-top: 37px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @include mobile {
        justify-content: center;
      }

      .btn {
        width: 420px;
        height: 55px;
      }

      .link {
        color: #333;
        text-decoration: underline;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        @include mobile {
          margin-top: 20px;
        }
      }
    }
  }

  .slider {
    position: relative;
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    height: 100%;

    @include tabletMobile {
      margin-bottom: 40px;
    }

    @include mobile {
      min-width: auto;
    }

    .sliderImgContainer {

      .sliderImg {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.formInPopup {
  margin-top: 0!important;
  box-shadow: none!important;
  border: none!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

