.container {
  @include container;
  margin-bottom: 100px;
  display: flex;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  @include mobile {
    flex-direction: column-reverse;
  }

  .content {
    max-width: 486px;
    min-width: 486px;
    margin-right: 34px;

    @include tablet {
      min-width: auto;
      max-width: 46%;
    }

    @include mobile {
      max-width: 100%;
      min-width: 100%;
      margin-right: 0;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .sticker {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--primary-text-color);
        background: #C0ECF7;
        padding: 8px 10px;
        border-radius: 10px;
      }

      .price {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        display: flex;

        .oldPrice {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: #ABABAB;
          margin-right: 10px;
          text-decoration: line-through;
        }
      }
    }

    .title {
      @include title;
      color: var(--primary-text-color);
      margin-bottom: 20px;
    }

    .desc {
      @include desc;
      color: var(--secondary-text-color);
      margin-bottom: 30px;
    }

    .btn {
      width: 224px;
      height: 55px;
    }
  }

  .img {
    width: 100%;
    height: auto;
    border-radius: 16px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
}

.formInPopup {
  margin-top: 0!important;
  box-shadow: none!important;
  border: none!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

