.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    @include title;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--primary-border-color);
    margin-bottom: 20px;
  }

  .content {
    border-radius: 16px;
    background: #FFF;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .item {
      flex-grow: 1;
      flex-basis: 300px;
      min-width: 300px;
      max-width: 600px;
      padding: 0 20px;
      border-left: 1px solid #ABABAB;
      margin-bottom: 40px;
      position: relative;
      display: flex;
      flex-direction: column;

      @include mobile {
        border: none;
        flex-basis: auto;
        max-width: 100%;
      }

      &:after {
        content: '';
        width: calc(100% - 40px);
        border-bottom: 1px solid #ABABAB;
        position: absolute;
        bottom: -20px;
        display: block;
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: 1px solid #ABABAB;
        margin-bottom: 0;

        @media (min-width: 967px) and (max-width: 1199px) {
          border-right: none;
        }

        @media (max-width: 967px) {
          max-width: 100%;
          border: none;
        }

        &:after {
          display: none;
        }
      }

      &:nth-last-child(2) {
        @media (min-width: 967px) and (max-width: 1199px) {
          border: none;
          margin-bottom: 0;

          &:after {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        @media (max-width: 967px) {
          border-left: none;
        }
      }

      .itemTitle {
        color: var(--highlighted-text-color);
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 16px;
      }

      .blockDesc {
        margin-bottom: 40px;

        .itemDesc {
          margin-bottom: 16px;
          color: #616161;
          font-size: 16px;
          line-height: 130%;

          @include tabletMobile {
            font-size: 14px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .numb {
        color: rgba(213, 154, 255, 0.50);
        margin-top: auto;
      }
    }
  }
}
