.header {
  @include retina-image('../../../../images/ivan/header_bg.png', '../../../../images/ivan/header_bg@2x.png', 42px, 720px );
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    background-image: none;
    margin-bottom: 80px;
  }

  .menuItems {
    .item {
      margin-right: 30px;
      color: var(--menu-item-text-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 0;

    @include tablet {
      padding: 40px 0 50px;
    }

    @include mobile {
      flex-direction: column-reverse;
    }

    .content {
      background: #FFFFFF;
      border-radius: 20px;
      margin-right: 40px;
      padding: 30px;
      min-width: 100%;

      @include tablet {
        margin-right: 20px;
      }

      @include mobile {
        margin-right: 0;
      }

      .titleFisrt {
        display: flex;
        font-family: var(--primary-text-font);
        color: var(--primary-text-color);
        text-transform: uppercase;
        font-size: 100px;
        font-weight: 600;
        line-height: 120px;

        .titlePart {
          color: #56A0F6;
        }

        .titleIcon {
          margin: 0 25px;
        }
      }

      .headerCourse {
        display: flex;
        position: relative;
        margin-top: 30px;

        .course {
          margin-left: 40px;
          color: var(--primary-text-color);
          font-family: var(--primary-text-font);

          .courseTitle {
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            padding: 8px 10px;
            border: 1px var(--primary-text-color) solid;
            border-radius: 10px;
            width: fit-content;
          }

          .courseSubtitle {
            margin: 20px 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            max-width: 440px;
          }

          .courseDescription {
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            width: 440px;
          }

          .courseBtns {
            margin-top: 29px;
            display: flex;
            gap: 30px;

            .courseFirstBtn {
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              padding: 18px 54px;
              border-radius: 500px;
              background: var(--primary-button-bg-color);
              color: var(--tertiary-button-bg-color);
            }

            .courseSecondBtn {
              font-size: 18px;
              font-weight: 500;
              line-height: 20px;
              padding: 18px 54px;
              border-radius: 500px;
              border: 1px var(--primary-button-bg-color) solid;
              background: var(--tertiary-button-bg-color);
              color: #56A0F6;
            }
          }
        }

        .correctionBg {
          position: absolute;
          right: -30px;
          top: -45px;
        }
      }
    }
  }
}
