.header {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .wrapperContent {
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 40px;

    @include mobile {
      flex-direction: column-reverse;
      padding: 20px;
    }

    .content {
      width: 50%;
      min-width: 400px;
      margin-right: 30px;

      @include mobile {
        min-width: auto;
        width: 100%;
        margin-right: 0;
      }

      .smallTitle {
        color: var(--primary-text-color);
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include tablet {
          font-size: 16px;
          line-height: 130%;
        }

        @include mobile {
          font-size: 16px;
        }
      }

      .title {
        color: var(--primary-text-color);
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include tablet {
          font-size: 20px;
          line-height: 130%;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      .desc {
        @include desc;
        color: var(--secondary-text-color);
        max-width: 700px;
      }
    }

    .img {
      width: 100%;
      max-width: 400px;
      height: auto;
      border-radius: 10px;

      @include mobile {
        margin-bottom: 20px;
      }
    }

    .date {
      font-size: 24px;
      line-height: 120%;
      font-weight: 700;
      margin: 20px 0 30px;

      @include mobile {
        font-size: 16px;
      }

      span {
        font-size: 30px;
        line-height: 120%;
        font-weight: 700;
        display: block;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    .button {
      width: max-content;
      padding: 0 20px;
      height: 50px;
    }
  }
}
