.header {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 100px;

    @include tablet {
      font-size: 60px;
      line-height: 130%;
      margin-top: 40px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  .desc {
    @include desc;
    color: var(--secondary-text-color);
    max-width: 700px;
    text-align: center;
    margin: 10px auto 30px;
  }

  .img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

}
