.container {
  @include container;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--primary-text-color);
    max-width: 540px;
    margin-bottom: 30px;

    @include tabletMobile {
      max-width: 100%;
      text-align: center;
      margin-bottom: 18px;
    }
  }

  .desc {
    @include desc;
    font-weight: 400;
    line-height: 130%;
    color: var(--secondary-text-color);
    text-align: center;
    max-width: 1000px;
    margin-bottom: 30px;

    @include tabletMobile {
      max-width: 100%;
      text-align: center;
    }
  }

  .card {
    max-width: 580px;
    margin-bottom: 30px;

    @include tabletMobile {
      max-width: 100%;

      &:first-child {
        margin-bottom: 40px;
      }
    }

    .imageBlock {
      position: relative;

      .img {
        border-radius: 10px;
        width: 100%;
        height: auto;
      }

      .floatingBlock {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 20px;

        .author {
          padding: 8px 10px;
          background: #fff;
          color: var(--primary-text-color);
          border-radius: 10px;
          margin-right: 10px;
        }

        .duration {
          padding: 8px 10px;
          border-radius: 10px;
          background: #56A0F6;
          color: #fff;
        }
      }
    }
  }

  .btn {
    height: 56px;
    width: max-content;
    padding: 0 20px;
  }
}
