.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 140px;
  }

  .title {
    @include title;
    color: var(--primary-text-color);
    margin-bottom: 20px;
    font-weight: 400;

    @include tabletMobile {
      border-bottom: 1px solid var(--primary-border-color);
      padding-bottom: 20px;
      margin: 0 0 20px 0;
    }
  }

  .content {
    display: flex;
    position: relative;

    @include tabletMobile {
      flex-direction: column;
    }

    .descContainer {
      border-top: 1px solid var(--primary-border-color);
      border-bottom: 1px solid var(--primary-border-color);
      margin: 20px 0;
      padding-top: 20px;
      max-width: 520px;
      width: 100%;

      @include tabletMobile {
        border: none;
        margin: 0;
        padding-top: 0;
      }

      .desc {
        max-width: 400px;
        @include desc;
        color: var(--secondary-text-color);

        @include tabletMobile {
          max-width: 600px;
        }

        @include tablet {
          margin-bottom: 120px;
        }

        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    .reviewContainer {
      width: 680px;
      padding: 40px 30px;
      border: 1px solid var(--primary-border-color);
      border-right: none;
      border-radius: 16px 0 0 16px;
      background-color: #FFEA7C;

      @include tabletMobile {
        border: 1px solid var(--primary-border-color);
        padding: 20px;
        border-radius: 16px;
        width: 700px;
      }

      @include mobile {
        width: 100%;
      }

      .reviewTitle {
        font-size: 24px;
        line-height: 130%;
        color: var(--primary-text-color);
        margin: 40px 0 20px;
      }

      .reviewDesc {
        font-size: 16px;
        line-height: 130%;
        color: var(--secondary-text-color);
      }
    }
  }
}
