.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .content {
    display: flex;
    font-family: var(--primary-text-font);

    @include tabletMobile {
      flex-direction: column;
      border-bottom: none;
    }

    .block {
      flex: 1 0 50%;

      .courseFor {
        margin-right: 30px;

        .title {
          font-size: 50px;
          font-weight: 500;
          line-height: 65px;
          margin-bottom: 20px;
        }

        .subTitle {
          font-size: 18px;
          font-weight: 400;
          line-height: 23px;

          .blueText {
            display: inline-block;
            background: #fff;
            border-radius: 10px;
            margin: 0 10px;
            padding: 6px 10px;
            color: #56A0F6;
          }
        }

        .pictures {
          display: flex;
          gap: 16px;
          margin-top: 52px;
        }
      }

      .list {
        .item {
          position: relative;
          padding: 16px 30px 16px 46px;
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          color: var(--primary-text-color);
          border-bottom: 1px solid var(--primary-border-color);

          @include mobile {
            padding-right: 20px;
          }

          &:before {
            content: '';
            background: url('../../../../images/warning.svg');
            width: 16px;
            height: 16px;
            position: absolute;
            left: 20px;
            top: 17px;
          }
        }
      }
    }
  }
}
