.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
      font-family: Inter;
      font-size: 50px;
      font-weight: 500;
      line-height: 65px;
    }

    .description {
      width: 440px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;

      .name {
        display: inline;
        color: #56A0F6;
      }
    }
  }

  .title {
    @include title;
    font-weight: 400;
    padding-bottom: 30px;

    @include tabletMobile {
      border-bottom: none;
    }
  }

  .content {
    display: flex;

    .videoBlock {
      .video {
        width: 680px;
        height: 390px;
        border-radius: 16px;

        @include tablet {
          width: 700px;
          height: 380px;
        }

        @include mobile {
          height: 200px;
          width: 328px;
        }
      }

      .videoBg {
        position: relative;
        background: url('../../../../images//course/video-bg.png');
        width: 1200px;
        height: 650px;
        border-radius: 16px;

        @include tablet {
          width: 700px;
          height: 380px;
        }

        @include mobile {
          height: 200px;
          width: 328px;
        }

        .videoBtn {
          background: url('../../../../images/play.svg');
          width: 60px;
          height: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
