.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    @include title;
    font-weight: 400;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--primary-border-color);
    margin-bottom: 20px;

    @include mobile {
      border-bottom: none;
    }
  }

  .list {
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    display: flex;

    @include tablet {
      flex-wrap: wrap;
      width: 700px;
    }

    @include mobile {
      flex-wrap: wrap;
      padding-bottom: 30px;
    }

    .item {
      max-width: 290px;
      border-right: 1px solid #ABABAB;
      padding-right: 46.67px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      position: relative;

      @include tablet {
        max-width: 330px;
        padding: 0 20px 20px 20px;

        &:nth-child(3n) {
          padding-left: 0;
        }

        &:nth-child(2n) {
          padding-right: 0;
          border-right: none;
        }

        &:nth-child(2n+3), &:last-child {
          padding-top: 20px;
          border-top: 1px solid var(--primary-border-color);
        }
      }

      @include mobile {
        max-width: 100%;
        width: 100%;
        border-right: none;
        padding: 30px 0 30px 0;
        border-bottom: 1px solid var(--primary-border-color);

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        &:first-child {
          padding-top: 0;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }

      .itemTitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: var(--highlighted-text-color);
        margin-bottom: 16px;
      }

      .itemDesc {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: var(--secondary-text-color);
        margin-bottom: 54px;

        @include mobile {
          font-size: 14px;
          margin-bottom: 0;
          margin-right: 40px;
        }
      }

      .itemId {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--highlighted-text-color);
        margin-top: auto;
        opacity: .5;

        @include mobile {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
