.container {
  @include container;
  margin-bottom: 100px;

  @include tabletMobile {
    margin-bottom: 80px;
  }

  .title {
    @include title;
    font-weight: 400;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }

  .tariffs {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tabletMobile {
      flex-direction: column;
    }

    .standard {
      --tariff-name-bg-color: #C0ECF7;
      --tariff-btn-bg-color: #C0ECF7;
      --tariff-name-text-color: var(--primary-text-color);
      --tariff-btn-text-color: var(--primary-text-color);
      border-radius: 16px 0 0 16px;
      border-right: none;

      @include tabletMobile {
        border-right: 1px solid var(--primary-border-color);
        border-radius: 16px;
      }
    }

    .premium {
      --tariff-name-bg-color: #BB98EA;
      --tariff-btn-bg-color: #BB98EA;
      --tariff-name-text-color: var(--primary-text-color);
      --tariff-btn-text-color: var(--primary-text-color);
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);

      @include tabletMobile {
        position: static;
        transform: none;
      }
    }

    .vip {
      --tariff-name-bg-color: #298BFF;
      --tariff-btn-bg-color: #298BFF;
      --tariff-name-text-color: #fff;
      --tariff-btn-text-color: #fff;
      border-radius: 0 16px 16px 0;
      border-left: none;

      @include tabletMobile {
        border-left: 1px solid var(--primary-border-color);
        border-radius: 16px;
      }
    }

  }
}
